.iconMarketCar{
  width: 30px !important;
  height: 30px !important;
  font-size: 30px !important;
  &:hover{
    color: #000;
  }
}

.divList{
  min-width: 300px;
  top: 180%;
  left: 50%;
  transform-origin: top;
  background: #fff;
  transform: translateX(-50%) rotateX(90deg);
  box-shadow: -2.5px -2.5px 10px rgba(0, 0, 0, 0.2),
              15px 15px 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  perspective: 1000px;
  opacity: 0;
  transform-style: preserve-3d;
  transition: opacity 0.4s ease-in-out, transform 0.125s ease-in-out;
}

.activeCart{
  opacity: 1;
  transform: translateX(-50%) rotateX(0deg);
}

.description{
  font-size: 1.1rem;
  color: black;
}

.deleteIcon{
  width: 0.95rem;
  height: 1.3rem;
  margin: auto;
}

button{
  background: orangered;
  color: beige;
  width: 100%;
  font-size: 1.2rem;
  transition: all 0.25s;
  &:hover{
    background: orangered;
    color: beige;
    transform:scale(1.05);
  }
}

.imgProduto{
  width: 3.5rem !important;
  height: 3.5rem !important;
  font-size: 3.5rem !important;
  border-radius: 5px;
}

@media (max-width: 600px) {
  .divList{
    left: -150%;
  }
}
