<img src="../../../assets/images/icon-cart.svg" alt="market car icon" class="iconMarketCar" role="button" (click)="activateList()">
<div #list class="position-absolute divList p-4">
  <h3 class="w-100 h4">Cart</h3>
  <hr class="w-100">
  <div class="row alargar">
    <div class="col-2">
      <img src="../../../assets/images/image-product-1-thumbnail.jpg" alt="foto produto" class="imgProduto">
    </div>
    <div class="col-8">
      <p class="description">Fall Limited Edition Sneakers</p>
    </div>
    <div class="col-2">
      <img src="../../../assets/images/icon-delete.svg" role="button" alt="delete icon" class="deleteIcon">
    </div>
  </div>
  <button class="btn">Checkout</button>
</div>
