<header class="row w-100 pb-0 position-sticky">
  <img src="../../../assets/images/logo.svg" alt="logotipo" class="col-2 h-50">
  <nav class="col-10 mb-0 row">
    <div class="col-10 d-none d-md-flex gap-4 mb-0">
      <a routerLink="#">Collections</a>
      <a routerLink="#">Men</a>
      <a routerLink="#">Women</a>
      <a routerLink="#">About</a>
      <a routerLink="#">Contact</a>
    </div>

    <app-market-cart class="col-1 position-relative m-auto">
    </app-market-cart>

    <div class="col-1 m-0 p-0 " role="button">
      <img src="../../../assets/images/image-avatar.png" alt="avatar">
    </div>
  </nav>
</header>
