<header class="row w-100 pb-0 position-sticky z-1000">
  <img src="../../../assets/images/logo.svg" alt="logotipo" class="col-md-2 col-7 m-0 p-0 logo align-self-md-start align-self-center">

  <nav class="col-md-8 m-0 p-0 ps-5 d-none gap-4 d-md-flex">
    <a routerLink="#">Collections</a>
    <a routerLink="#">Men</a>
    <a routerLink="#">Women</a>
    <a routerLink="#">About</a>
    <a routerLink="#">Contact</a>
  </nav>

  <app-market-cart class="col-1 position-relative m-auto">
  </app-market-cart>

  <div class="col-1 m-0 p-0" role="button">
    <img src="../../../assets/images/image-avatar.png" alt="avatar" class="avatar">
  </div>
</header>
