@import '~bootstrap/scss/bootstrap';

*{
  text-decoration: none !important;
 }

 body, app-root{
  width: 100%;
  height: 100vh;
  &::-webkit-scrollbar{
    width: 5px;
    background-color: antiquewhite;
  }
  &::-webkit-scrollbar-thumb {
    background: orangered;
    border-radius: 30px;
  }
 }

 app-exommerce-product-page{
  position: relative;
 }

 .z-0{
  z-index: 0 !important;
}

.z-1000{
   z-index: 1000 !important;
 }
